In [2]:

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/austinlasseter/plotly_dash_tutorial/master/00%20resources/titanic.csv')

In [3]:
df.head()

   Unnamed: 0  Survived  Pclass     Sex   Age     Fare     Embarked
0           0         0       3    male  22.0   7.2500  Southampton
1           1         1       1  female  38.0  71.2833    Cherbourg
2           2         1       3  female  26.0   7.9250  Southampton
3           3         1       1  female  35.0  53.1000  Southampton
4           4         0       3    male  35.0   8.0500  Southampton

In [3]:
df.columns

Index(['code', 'state', 'category', 'total exports', 'beef', 'pork', 'poultry',
       'dairy', 'fruits fresh', 'fruits proc', 'total fruits', 'veggies fresh',
       'veggies proc', 'total veggies', 'corn', 'wheat', 'cotton'],
      dtype='object')

In [4]:
df['Female']=df['Sex'].map({'male':0, 'female':1})
df['Cabin Class'] = df['Pclass'].map({1:'first', 2: 'second', 3:'third'})

In [5]:
grouped_mean=df.groupby(['Cabin Class', 'Embarked'])['Survived'].mean()