In [9]:

import pandas as pd
df = pd.read_csv('chicago.csv')

In [10]:
df.head()

,Address,Neighborhood,HouseType,Price,Bath,CrimeIndex,MinutesToLoop,MilesToLake,Age,LotSizeSqft,HouseSizeSqft,SchoolIndex
0,"2111 W Division St #5, Chicago IL",Wicker Park,Condo,390000,NaN,2.59,9,3.91,0,0,0,36.2
1,"1520 W Walton St #2, Chicago IL",Wicker Park,Condo,320500,NaN,4.10,7,3.02,0,0,0,91.7
2,"2047 W Thomas St, Chicago IL",Wicker Park,Multi-Family Home,620000,4.0,2.09,9,3.84,94,3049,3492,36.2
3,"1735 N Paulina St #314, Chicago IL",Wicker Park,Condo,318000,NaN,2.40,9,2.90,0,0,0,50.0
4,"1634 W Beach Ave, Chicago IL",Wicker Park,Multi-Family Home,477000,2.0,4.63,9,2.96,31,2614,1840,78.9

In [15]:
df.columns

Index(['Address', 'Neighborhood', 'HouseType', 'Price', 'Bath', 'CrimeIndex',
       'MinutesToLoop', 'MilesToLake', 'Age', 'LotSizeSqft', 'HouseSizeSqft',
       'SchoolIndex'],
      dtype='object')

In [4]:
df['Female']=df['Sex'].map({'male':0, 'female':1})
df['Cabin Class'] = df['Pclass'].map({1:'first', 2: 'second', 3:'third'})

In [21]:
grouped_mean=df.groupby(['Baths', 'Neighborhood'])['SchoolIndex'].mean()

In [ ]:
Price CrimeIndex SchoolIndex

In [14]:
df['Bath'].unique

<bound method Series.unique of 0      NaN
1      NaN
2      4.0
3      NaN
4      2.0
      ...
214    NaN
215    3.0
216    NaN
217    NaN
218    NaN
Name: Bath, Length: 219, dtype: float64>

In [16]:
df['Baths'] = df['Bath'].map({1:'first', 2: 'second', 3:'third'})

In [17]:
df['Baths'].unique

<bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4      second
        ...
214       NaN
215     third
216       NaN
217       NaN
218       NaN
Name: Baths, Length: 219, dtype: object>